
<%= link_to owners_path do %>
 <span>Proprietário</span><br>
<% end %>

<%= link_to stores_path do %>
 <span>Lojas</span><br>
<% end %>

<%= link_to salesmen_path do %>
 <span>Vendedores</span><br>
<% end %>

<%= link_to goals_path do %>
 <span>Metas</span><br>
<% end %>

